
body {
    background-color: #f1f1f1;
}

.board {
    width:50%;
}

.center {
    margin-left:auto;
    margin-right:auto;
}


.cell{
    width: 70px;
    height: 69px;
    float:left;
    position: relative;
    font-family: Arial;
}

#sudokuTable{
    border:1px solid black;
    width: 521px;
    height: 521px;
    float:left;
}


p.blocktext {
    margin-top: 0;
    padding-bottom: 0;
    font-family: "Lobster", "Times New Roman", Georgia, Serif;
    font-size: 35px;
    color: #3498db;
    text-align: center;
}

.timer{
    position: relative;
    bottom: 50%;
    left: 7%;
    top: 10%;

}

.gameButtons {
    position:relative;
    bottom:50%;
    right: 40%;
    top: 10%
    width: 200px;
}
.gameButtons-button{
    left: 45%;
    margin-bottom: 2%;
    position: relative;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 15%
}


.inputCell {
    width: 45px;
    background-color: #f1f1f1;
    height: 48px;
    font-size: 35px;
    text-align: center;
    font-family: Arial;
}

